body{
    width: 350px;
    height: 675px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: 5px 10px #888888;
}
img{
    width: 300px;
    padding: 5px;
    position: relative;
    
}
h3{
    padding:5px;
    font-style: bold;
}
.image{
    /*border-radius: 8px;*/
    width: 310px;
    width: 310px;
    padding: 5px;
    /*position: fixed;*/
    /*border-style: solid;*/
    border-width: 1px ;
    border-color: black ;
    margin-left: auto;
    margin-right: auto;
    


}
.main{
    height:auto;
    width: 320px;
    border-style: solid;
    border-width: 1px ;
    border-color: black ;
    padding: 3px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
   
   
}

.fact{
    font-style: italic;
}

li{
    list-style-type: none;
}

li span{
    font-weight: bold;
   }