@import url("media.css");
@import url(images.css);

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background: #f1f1f1;
  }
  
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-image: url(IMAGES/pexels-fwstudio-131683.jpg);
  }
  
 .nav{
     text-align: center;
 }

 li {
    display: inline;
  }

  .main {
    float: left;
    width: 70%;
  }
  
  .aside {
    float: right;
    width: 25%;
    padding-left: 20px;
  }
  

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    
  }
  
  .socials {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    background-image: url(IMAGES/pexels-fwstudio-131683.jpg);
    
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px dotted rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  .flex-container {
    display: flex;
    background-color: teal;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }
 
 
